server:
  port: ${PORT:8080}

spring:
  application:
    name: virtubox-assignment

  # http://localhost:8080/h2-console
  # JDBC URL: jdbc:h2:mem:virtuboxdb
  datasource:
    url: jdbc:h2:mem:virtuboxdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
